
@{
    ViewBag.Title = "All Marks";
}

<h2>All Marks</h2>
<div class="page-container">
    <div class="mark-preview">
        <div class="mark-preview-header">
            <span class="mark-preview-header-text">Mark №1</span>
        </div>
        <div class="mark-preview-footer">
            <input type="submit" class="btn btn-info" value="Details" style="width:70%" />
        </div>
    </div>
    <div class="mark-preview">
        <div class="mark-preview-header">
            <span class="mark-preview-header-text">Mark №1</span>
        </div>
        <div class="mark-preview-footer">
            <input type="submit" class="btn btn-info" value="Details" style="width:70%" />
        </div>
    </div>
</div>
